.logo-bar__item {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}
.logo-bar__image {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}
.logo-bar.owl-carousel.owl-loaded {
  padding: 0;
}
.logo-bar .owl-item {
  text-align: center;
}
